// QUIZ STYLES

// VARIABLES, MIXINS, ETC

@font: 'Roboto', sans-serif;
@orange: rgb(255,84,35);    
@dkorange: rgb(204,66,29);
@ltgrey: #EFEFEF; 
@white: rgb(254,254,254);

// GLOBAL STYLES

//* {
//  outline: 1px dotted red;
//}

body {
  font-family: @font;
  margin: 0;
  padding: 0;
}

//h1 {
//  color: @orange;
//}

.quizzes {
  background-color: @ltgrey;
  background-image: url()
}

.past-quizzes {
  color: @white;
  background-color: @orange;
  border-top: 4px solid @dkorange;
}

header {
  width: 100%;
  height: 45px;
  margin: 0;
  background-color: black;
  
  ul {
    padding: 2%;
    margin: 0;    
    
    li {
      list-style: none;
      
      a {
        text-decoration: none;
        color: @white;
        &:hover {
          color: @orange;
        }
      }
    }
  }
}


.quizContainer {
	height: 80%;
	width: 100%;
	display: flex;
	align-items: stretch;
}

.detailContainer {
	margin: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.list {
	overflow: auto;
	margin: 0;
	padding: 20px;
	flex: 1 1 0;
	height: 100%;
	min-height: 100%;
	background: @white;
}

.detailWrapper {
	margin: 0;
	padding: 20px;
	flex: 1 1 0;
	height: 100%;
	min-height: 100%;
	background: @ltgrey;
}

.bold {
	font-size: 18px;
	font-weight: bold;
	/*background: wheat;*/
	border-bottom: 1px dashed black;
}

.blue {      // was green
	color: dodgerblue;
}

.orange {    // was red
	color: orange;
}

.mySaveModal {
	position: fixed;
	top: 80px;
	left: 80px;
	height: 80px;
	width: 40%;
	background-color: @ltgrey;
	border: 1px solid black;
	border-radius: 5px;
	margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
  
  &:hover {
    color: @orange;
  }
}

// HOME VIEW



// QUIZ



// RESULTS VIEW



//