html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

header {
	width: 100%;
	height: 60px;
}

.quizContainer {
	height: 80%;
	width: 100%;
	display: flex;
	align-items: stretch;
}

.detailContainer {
	margin: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.list {
	overflow: auto;
	margin: 0;
	padding: 20px;
	flex: 1 1 0;
	height: 100%;
	min-height: 100%;
	background: white;
}

.detailWrapper {
	margin: 0;
	padding: 20px;
	flex: 1 1 0;
	height: 100%;
	min-height: 100%;
	background: lightblue;
}

.bold {
	font-size: 18px;
	font-weight: bold;
	/*background: wheat;*/
	border-bottom: 1px dashed black;
}

.green {
	color: green;
}

.red {
	color: red;
}